In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"G:\AIT\MLOps\ProjectAnalytics\devices\filtered_labeled_dataset.csv")
df.head()

,ph_value,do_value,temp_value,salinity_value,ph_value_filtered,do_value_filtered,temp_value_filtered,salinity_value_filtered,label,status
0,6.7,9.66,28.9,232.6,6.743,9.660,28.9,232.754,0,NaN
1,9.9,9.65,28.9,224.1,7.216,9.659,28.9,231.502,0,NaN
2,9.2,9.65,28.9,230.9,7.642,9.658,28.9,230.320,0,NaN
3,7.5,9.66,28.9,225.8,7.995,9.657,28.9,229.274,0,NaN
4,9.4,9.65,28.9,227.5,8.260,9.656,28.9,228.407,0,NaN

In [3]:
df = df.drop(['ph_value', 'do_value', 'temp_value', 'salinity_value', 'status'], axis=1)
df.head()

,ph_value_filtered,do_value_filtered,temp_value_filtered,salinity_value_filtered,label
0,6.743,9.660,28.9,232.754,0
1,7.216,9.659,28.9,231.502,0
2,7.642,9.658,28.9,230.320,0
3,7.995,9.657,28.9,229.274,0
4,8.260,9.656,28.9,228.407,0

In [4]:
df.shape

(2130, 5)

In [5]:
df_label_0 = df[df['label'] == 0]
df_other_labels = df[df['label'] != 0]

In [6]:
sampled_0 = df_label_0.sample(n=350, random_state=42)
sampled_other = df_other_labels.sample(n=150, random_state=42)

In [7]:
balanced_df = pd.concat([sampled_0, sampled_other]).sample(frac=1, random_state=42).reset_index(drop=True)

In [8]:
balanced_df.to_csv("balanced_500_rows.csv", index=False)